*{ 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
 }

.header h1 {
  font-size: 64px; 
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.container{
  height: 100vh;
  background: #f1f1f1;
  display: flex;
  justify-content: center;  
}

.content {
  width: 500px;
  justify-content: center;
}
.content-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 500px;
    background: gray;
    font-size: 32px;
}

.content-bottom {
  margin-top: 50px;
  padding: 20px;
  width: 500px;
  background: white;
  height: 450px;
  border: 2px solid; 
  font-size: 128px;
}

.value{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  font-weight: bold;
  height: 85%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: end;  
} 

.button button {
  padding: 10px 20px;
  font-size: 32px;
  border: 2px solid black;
  margin: 0 1px;
}

.increase {
  background: green;
  color: white;
  cursor: pointer;
}

.reset {
  background: yellow;
  cursor: pointer;
}

.decrease {
  background: red;
  color: white;
  cursor: pointer;
}

